remote_theme: "mmistakes/minimal-mistakes@4.24.0"

title: [Ian Hecker's Website]
description: [Welcome]
github: [https://github.com/ianhecker]

website: https://ianhecker.com

plugins:
  - jekyll-include-cache

collections:
  topics:
    output: true

defaults:
  - scope:
      path: ""
      type: "topics"
    values:
      layout: "topic"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"
